/* client/src/components/Sidebar.css */
.sidebar {
  width: 150px;
  background-color: #8dbceb8f;
  padding: 20px;
  color: rgb(15, 15, 15);
  height: 100vh;
  margin: 0;
}

.sidebar-menu h3 {
  margin-bottom: 10px;
  color: #171818;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 12px 0;
}

.sidebar-menu a {
  color: #1c1c1d;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
  display: block;
  padding: 8px;
  border-radius: 5px;
}

.sidebar-menu a:hover {
  background-color: #34495e;
  color: white;
}

.sidebar-menu .active {
  background-color: #1abc9c;
  color: rgb(110, 80, 80);
}
